<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp.properties"/>

    <bean id="myPet"
          class="com.mikhail.spring.spring_introduction.Cat">
    </bean>

    <bean id="myPerson"
          class="com.mikhail.spring.spring_introduction.Person">
<!--            внедрение зависимостей через конструктор-->
<!--        <constructor-arg ref="myPet"/>-->

<!--            внедрение зависимостей через сеттеры-->
            <property name="pet" ref="myPet"/>

<!--            присвоение значений через сеттеры-->
<!--            <property name="name" value="Vasya"/>-->
<!--            <property name="age" value="25"/>-->

<!--                присвоение через отдельный файл со свойствами-->
                <property name="name" value="${person.name}"/>
                <property name="age" value="${person.age}"/>
            </bean>

        </beans>